@import '../../../../variables'; 
 
.search { 
  display: flex;
  align-items: center;  
  background-color: #646E7B; 
  min-height: 80px; 
 
  &__engine {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: auto $default-margin; 
    background-color: #838B95; 
    min-height: 50px;
    width: 90%;  

    > div {
      input {
        margin-left: 20px;
        background-color: #838B95; 
        border: none;
        vertical-align: middle;
        width: 200px;
        padding: .375rem .75rem;
        font-size: 1rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      } 
    }
  } 

  &__icon {
    margin: 16px;
  }

  &__results {
    display: inline-block;
    vertical-align: middle;
  }

  &__tag {
    display: inline-block;
    margin: 10px 0 10px 20px;
    background-color: #9BA2AA;
    padding: 10px;
    border-radius: 4px;

    * {
      display: inline-block;
      vertical-align: middle;
      color: white;
    }

    i {
      font-size: 15px;
    }
  }

  &__btn {
    &--remove {
      padding: 5px; 
      background-color: #9BA2AA;
      border: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .search {
      &__engine {
        margin: auto;
      }
      &__input {
        input {
          min-width: 70%;
        }
      }
  }
}