<div class="search"> 
  <div class="search__engine"> 
    <div>
      <div class=search__results>
        <div class="search__tag" *ngFor="let city of cities">
          <p>{{ city.name }}</p>
          <button class="search__btn--remove" (click)="removeCityTag(city.name)">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <input 
        type="text" 
        placeholder="Search" 
        #searchInput 
        (keyup.enter)="emitSearchQuery(searchInput.value)">
    </div>
    <i class="material-icons search__icon">search</i>
  </div> 
</div> 
