.weather-list { 
    &__wrapper { 
        background-color: #EBEFF1; 
        padding: 5vh 10vw; 
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
    } 

    &__item { 
        display: grid; 
        grid-template-columns: 1fr 110px 1fr; 
        margin-top: 50px; 
        background-color: white; 
        padding: 2vh 1vw; 
        width: 90%; 

        div { 
            h1 { 
                position: relative; 
                font-size: 2em; 
            
                span { 
                    position: absolute; 
                    top: 0; 
                    right: 20px; 
                    font-size: 0.8rem; 
                    vertical-align: text-top;        
                } 
            } 

            h2 { 
                font-size: 1.5em; 
            } 

            p { 
                padding-top: 5px; 
                color: #838B95; 
                font-size: 0.8em; 
            } 
        } 
        
        div:nth-child(2) { 
            text-align: center; 
        } 
            
        div:nth-child(3) { 
            margin-left: 2vw; 
        } 
    } 
} 

    @media screen and (max-width: 1440px) {
        .weather-list {
            &__wrapper {
              grid-template-columns: 1fr 1fr;
            }
        }
    }
  
    @media screen and (max-width: 1024px) {
        .weather-list {
            &__item {
              padding: 1vh 1vw;
            }
          }
    }
  
  
    @media screen and (max-width: 767px) {
        .weather-list {
            &__wrapper {
              grid-template-columns: 1fr;
              padding: 5vh;
            }
        
            &__item {
              grid-template-columns: 1fr 1fr;
        
              div {
                h1 {
                  span {
                    right: 10vw;
                  }
                }
              }
        
              div:nth-child(3) {
                margin-left: 0;
              }
            }
          }   
         
}
  