<app-weather-search (emitSearchedCity)="addCityToWeatherList($event)" (emitRemovedCity)="removeCityFromWeatherList($event)"></app-weather-search> 
<div class="weather-list__wrapper"> 
    <div class="weather-list__item" *ngFor="let city of cityList" [routerLink]="['city', city.id]"> 
        <div> 
            <h2>{{ city.name }}</h2> 
            <!-- <p>{{ date }}</p>  -->
            </div> 
            <div> 
            <h1>{{ city.main.temp - 273 | number : '1.0-0' }} <span>&#8451;</span></h1> 
            <p>{{ city.weather[0].main }}</p> 
            </div> 
            <div> 
            <p>Humidity: {{ city.main.humidity }}%</p> 
            <p>Wind: {{ city.wind.speed }}km/h</p> 
        </div> 
    </div> 
</div> 