.forecast {
    &__wrapper {
        margin: 50px;

        h1 {
            margin-bottom: 40px;
            font-size: 20px;
            font-weight: 600;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__day {
        margin: 20px;
        background-color: white;
        text-align: center;
        width: 30%;
        min-height: 170px;

        h3 {
            margin: 10px;
            font-size: 18px;
        }

        p {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    
}

agm-map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 385px;
}


@media screen and (max-width: 1440px) {
    .forecast {
        &__list {
            flex-wrap: wrap;
            align-content: stretch;
        }

        &__day {
            width: 45%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .forecast {
        &__list {
            flex-wrap: wrap;
            align-content: stretch;
        }

        &__day {
            width: 40%;
        }
      }
      agm-map{
        width: inherit;
    }
}

@media screen and (max-width: 767px) {
    .forecast {
        &__wrapper {
                       

            h1 {
                width: 100%;
            }
        }

        &__day {
            width: 100%;
        }
    }
}