<div class="forecast__wrapper">
  <h1 *ngIf="forecast">Weather forecast for {{ forecast.city.name }} in next 5 days</h1>
  <div class="forecast__list">
    <div class="forecast__day" *ngFor="let weather of forecastPerDay; let i = index">
      <h3>Day {{ i + 1 }}</h3>
      <p>Temperature: {{ weather.main.temp - 273 | number : '1.0-0' }} <span>&#8451;</span></p>
      <p>Humidity: {{ weather.main.humidity }}%</p> 
      <p>Wind: {{weather.wind.speed }}km/h</p>
      <p>Pressure: {{weather.main.pressure }}p</p> 
    </div>
  </div>
</div>
<agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker 
    [latitude]="latitude" 
    [longitude]="longitude">
  </agm-marker>
</agm-map>