/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body { 
    font-family: 'Roboto' !important; 
    height: 100%;
    background-color: #EBEFF1;
}